body {
  font-family: 'Almarai', sans-serif;
  background-color: #f6f6f6;

}

*,h1,h2,h3,h4,h5{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
 
h1{
  color:red
}
.date-container{
  position: absolute;
  top:45%;
  left: 50%;
  width: 600px;
  height: 450px;
  transform: translate(-50%,-50%);
}
.date{
  width: 600px;
  height: 450px;
  /* position: absolute;
  top:50%;
  left: 50%; */
 
background: #fff;
box-shadow: -1px 7px 14px 4px rgba(0,0,0,0.71);
-webkit-box-shadow: -1px 7px 14px 4px rgba(0,0,0,0.71);
-moz-box-shadow: -1px 7px 14px 4px rgba(0,0,0,0.71);
border-radius: 15px;
overflow: auto;
}
.my-button{
  padding: 7px 50px;
}
.date-item{
  display: flex;
  align-items: center;
  padding:   10px;
  border-bottom: 1px solid rgb(208, 205, 205);
}
.date-item img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
}
.date-item-info h4{
  font-size: 20px;
  margin-bottom: 5px;
}
.date-item-info h6{
 color: #6C757E;;
}